body {background-color: #2F3356;}
h1, h2 {font-family: Candara; text-align: center; padding-left: 20px; padding-right: 20px; decoration}
p {font-size: 17px;}
a {text-decoration: none; color: red;}

.header {display: flex; align-items: center; background-color: 3D3F34;}

/* nav bar styling*/

.topnav {
	background-color: AC2218;
	height: 20px; 
	display: flex;
	padding-bottom:	10px; 
	margin: auto;
	border:2px solid black;
	}

.topnav a {
    color: white;
    font-size: 15px;
	text-align: center;
    text-decoration: none;
	padding-top: 5px;
	margin: auto;
    font-family: Candara;
    display: inline-block; /* Ensures smooth scaling */
	transition: transform 0.2s ease, color 0.2s ease;} /* Smooth animation */
}
.leftnav a:hover {
    transform: scale(1.2); /* Increases size without affecting layout */
	color: #FFFADA;
	transform-origin: center;}


.head {display: flex; height: 90px; padding: 20px; align: center;}

.head {
    display: flex; /* Enables flexbox */
    padding: 20px;
	text-align: center;
    justify-content: center; /* Centers content horizontally */
    gap: 20px; /* Adds space between elements */
	height: 90px;
	background-color: rgba(128, 128, 128, 0.7);
	padding: 10px;
}

.main {
	padding: 10px;
	background-color: #353662;
}

.bus, .tram, .train, .taxi {
	background-color: 075A9E;
	border:2px solid black;
	margin: 5px;
	margin-bottom: 10px;
}

.businfo {
	display: flex;
}

.bustext, .tramtext, .traintextm .taxitext {
	display: inline;
}

li {
	text-decoration: underline;
}