h1, h2 {font-family: Candara; text-align: center; padding-left: 20px; padding-right: 20px; decoration}
p {font-size: 18px;}
a {text-decoration: none; color: red;}

body {
    background-color: #002147; /* Navy Blue */
    color: #F5F5DC; /* Beige/Light Gold */
	font-family: 'Open Sans', sans-serif;
}

.header {
	display: flex;
	align-items: center;
	background-color: 3D3F34;
	margin-bottom: 10px;
	background: url('img/tartan.jpg') repeat;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.header h2 {
    color: #FFF5E1 ;
    padding: 10px;
    border-radius: 8px;
	font-family: 'Playfair Display', serif;
}

.topnav {
	background-color: 002147;
	height: 22px; 
	display: flex;
	padding-bottom:	10px; 
	margin: auto;
	border:2px solid black;
}

.topnav a {
    color: #F5F5DC;
    font-size: 15px;
	text-align: center;
	padding: 10px 15px;
	padding-top: 5px;
	margin: auto;
    font-family: Candara;
	transition: background 0.3s;
}
.topnav a:hover {
    background-color: #AE6192;
}


.head {display: flex; height: 90px; padding: 20px; align: center;}

.head {
    display: flex;
    padding: 20px;
	text-align: center;
    justify-content: center; 
    gap: 20px; 
	height: 90px;
	background-color: rgba(128, 128, 128, 0.7);
	padding: 10px;
}

.main {
	padding: 10px;
	background-color: #353662;
}

.main h1 {
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	background: url('img/tartan.jpg') repeat;
	max-width: auto;
	border:2px solid black;

}
	

.bus, .tram, .train, .taxi {
	background-color: 075A9E;
	border:2px solid black;
	margin: 5px;
	margin-bottom: 10px;
}

.businfo {
	display: flex;
}

.bustext, .tramtext, .traintextm .taxitext {
	display: inline;
	font-size: 15px;
}

li {
	text-decoration: underline;
	font-size: 15px;
}